html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem;
}

button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #111;
  background-color: #111;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #333;
}
